/*Classes/Ids - Global */
* {
    font-family: "Roboto", sans-serif;
    color: #555;
    box-sizing: border-box;
}
html, body, main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
body {
    background-image: url("assets/img/BgImg-Body.jpg");
}

/* Classes/Ids - Sections */
section {
    padding: 5vh 0 0 2vh;
    width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    box-sizing: border-box;
}

/*Classes/Ids - Navbar */
#navbar {
    overflow: hidden;
    background-image: url("assets/img/BgImg-Navbar.png");
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5vh;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}
#navbar li {
    list-style: none;
    margin: 0 24px;
}
#navbar a {
    position: relative;
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
#navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}
#navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

/*Classes/Ids - Welcome Section*/
#welcome-portfolio {
    font-size: 48px;
}
#welcome-name {
    font-size: 32px;
}
#welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Classes/Ids - Profile*/
#profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
}
#profile-details {
    display: flex;
    flex-direction: column;
    width: 65vw;
    padding: 24px;
    gap: 16px;
}
#profile-details div{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    padding: 8px 16px;
}
#profile-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
}
#profile-image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#profile-introduction h1, #profile-introduction p{
    margin: 4px 8px;
}
#profile-experience h1{
    margin: 4px 8px;
}
#profile-skills h1{
    margin: 4px 8px;
}
.skill {
    margin: 4px;
    padding: 4px 8px;
    border-radius: 4px;
    color: #f7f7f7;
    font-weight: bold;
}
/*Classes/Ids - Portfolio*/
#portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
#portfolio-main-div {
    padding: 8px 16px;
    width: 80vw;
    height: 60vh;
}
.length-toggles {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.portfolio-btn {
    padding: 8px 16px;
    margin: 0 4px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.portfolio-btn.active {
    background-color: #fff;
    color: #000;
}
.content-blocks {
    padding: 8px;
}
.portfolio-content {
    display: none;
}
.portfolio-content.active {
    display: block;
}
.pagination-dots {
    text-align: center;
    margin-top: 12px;
}
.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active {
    background-color: #007bff;
}
.content-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.content-card {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.content-card img{
    width: 90%;
    border: 1px solid #000;
    border-radius: 4px;
}

/*Classes/Ids - Socials*/
#socials-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
}
#socials-section h1 {
    font-size: 48px;
}
#socials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;
    text-align: center;
}
#socials-section h1 {
    font-size: 48px;
    margin-bottom: 24px;
}
.socials-links-rowOne a,
.socials-links-rowTwo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    font-size: 24px;
}
.socials-links-rowOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 60vw;
}
.socials-links-rowTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 60vw;
}

/*Media for mobile*/
@media (max-width: 767px) {
    /*Classes/Ids - Global*/
    section {
        margin: 0px;
        padding: 2.5vh 0px 0px 2vh;
        width: 100vw;
        min-height: 100vh;
    }
    /*Classes/Ids - Navbar */
    #navbar {
        height: 5vh;
        padding-right: 4vw;
    }
    #navbar li {
        margin: 0 8px;
    }
    #navbar a {
        font-size: 16px;
        text-align: center;
    }
    /*Classes/Ids - Welcome */

    /*Classes/Ids - Profile */
    #profile-details {
        padding-top: 5vh;
        width: 100%;
    }
    #profile-details p{
        font-size: 16px;
    }
    #profile-image-div {
        display: none;
    }
    /*Classes/Ids - Portfolio */
    #portfolio-main-div {
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    .content-card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }
    .content-row {
        flex-direction: column;
        align-items: center;
    }
    /*Classes/Ids - Socials*/
    #socials-section {
        gap: 12px;
        border: 1px solid black;
    }
    .socials-links-rowOne {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        width: 80vw;
    }
    .socials-links-rowTwo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        width: 80vw;
    }
    .socials-links-rowOne a,
    .socials-links-rowTwo a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #555555;
        font-weight: bold;
        font-size: 16px;
    }
    .socials-links-rowOne a img,
    .socials-links-rowTwo a img{
        margin-right: 8px;
        width: 32px;
    }
}